/* Custom colours  */
:root {
    --colour-white: #f0f0f0;
    --colour-yellow: #F8BC38;
    --colour-gray: #222;
    --colour-black: #020202;

    --languages: 24;
    /* number of "icons" in the carousel */
    --languagesx2: 48;
    /* number of "icons" in the carousel * 2 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow: auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: var(--colour-gray);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--colour-yellow); 
}

.contenedor {
    padding: 50px 0;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: var(--colour-yellow);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 977px;
    background-color: var(--colour-black);
    background: url(../img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

/* ------------------------------------------------- NAV ------------------------------------------------- */
/* Basic styling */
nav {
    background-color: var(--colour-black);
    padding: 2px 280px;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: top 0.3s;
    z-index: 1;
}

a {
    color: var(--colour-white);
    text-decoration: none;
}

.menu {
    list-style-type: none;
}

nav ul img {
    width: 50px;
}


.logo-a {
    text-align: left;
    display: block;
}

.item {
    padding: 14px;
}

nav>ul>li>a:hover,
.item a:hover::after {
    color: var(--colour-yellow);
    font-weight: 800;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}


/* ------------------------------------------------- HOME ------------------------------------------------- */
header .textos-header {
    display: flex;
    height: 890px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: var(--colour-yellow);
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: var(--colour-white);
}

.textos-header h3 {
    font-size: 45px;
    font-weight: 600;
    color: var(--colour-white);
}

/* Scroll down arrow */ 
.scroll-down {
    position: absolute;
    bottom: 300px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid var(--colour-white);
    background-size: 14px auto;
    border-radius: 50%;
    -webkit-animation: bounce 3s infinite 3s;
    animation: bounce 3s infinite 3s;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    transform: scale(1);
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 7px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

/* ------------------------------------------------- ABOUT ME -------------------------------------------------*/
main {
    background: var(--colour-white);
    background-image: url(../img/black.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

main .sobre-mi {
    padding: 50px 10px 0 0;
    max-width: 1250px;
}

.contenedor-sobre-mi {
    display: flex;
    justify-content: space-between;
}

.imagen-about-me {
    width: 40%;
}

.sobre-mi .contenido-textos {
    padding-top: 50px;
    padding-bottom: 60px;
    width: 55%;
    color: var(--colour-white);
    text-align: justify;
}


/* ------------------------------------------------- PROJECTS ------------------------------------------------- */

.projects-section {
    text-align: center;
    padding: 50px 32px;
    background-color: var(--colour-black);
    background-image: url(../img/marmol.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 96px auto;
    border-bottom: 3.2px solid var(--colour-white);
}

/* "Automagic" image grid using no media queries */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 64px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 96px;
}

.project {
    background: var(--colour-gray);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.code {
    color: var(--colour-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: var(--colour-yellow);
    font-weight: 600;
}

.project-image {
    height: calc(100% - 60px);
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    cursor: url(/img/hand.png), auto;
    transition: 0.3s ease-out;

}

.project-image:hover {
    opacity: 0.7;
}

.project-title {
    font-size: 16px;
    padding: 12px 8px;
}

.btn {
    display: inline-block;
    padding: 16px 32px;
    border-radius: 10px;
    border: solid 2px var(--colour-yellow);
}

.btn-show-all {
    font-size: 20px;
    background: var(--colour-gray);
    transition: background 0.5s ease-out;
}

.btn-show-all:hover {
    font-weight: 600;
    background: var(--colour-yellow);
    color: var(--colour-black);
    pointer-events: fill;
}

.btn-show-all:hover>i {
    transform: translateX(4px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

/* ------------------------------------------------- LANGUAGES // SLIDER ------------------------------------------------- */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * var(--languages)));

    }
}

.slider {
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider::before,
.slider::after {
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * var(--languagesx2));
}

.slider .slide {
    height: 250px;
    width: 250px;
}

img {
    width: 100px;
    align-items: center;
}

.html {
    width: 115px;
}


/* ------------------------------------------------- EXPERIENCE AND CV ------------------------------------------------- */

.experience {
    background: var(--colour-white);
    background-image: url(../img/mount.jpg);
    background-size: 165%;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}


.cvs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cv-div {
    width: 28%;
    text-align: center;
}

.cv-div img {
    margin-top: 40px;
    width: 90%;
    cursor: url(/img/zoom.png), auto;
    transition: 0.5s ease-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.cv-div>img:hover {
    transform: scale(1.03);
}

.cv-div h3 {
    margin: 10px 0;
}

.cv-div p {
    font-weight: 300;
    text-align: justify;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--colour-white);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: rgb(177, 3, 3);
    text-decoration: none;
    cursor: pointer;
}

/* Download Buttons */
.button {
    display: inline-block;
    padding: 16px 32px;
    border-radius: 10px;
    border: solid 3px var(--colour-yellow);
    margin-top: 35px;
}

.btn-download {
    font-size: 20px;
    background: var(--colour-gray);
    transition: background 0.5s ease-out;
}

.btn-download:hover {
    font-weight: 600;
    background: var(--colour-yellow);
    color: var(--colour-black);
    pointer-events: fill;
}

.btn-download:hover>i {
    transform: translateY(4px);
}

.btn-download>i {
    margin-left: 10px;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
}

/* ------------------------------------------------- FOOTER ------------------------------------------------- */

footer {
    padding: 0 0 30px 0;
    margin: auto;
    overflow: hidden;
    width: 100%;
    background: rgb(72, 72, 72);
    background: linear-gradient(180deg, rgba(72, 72, 72, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

/* Contact */
.contacto {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 400px;
    background-color: var(--colour-black);
}

form {
    padding: 25px;
    margin: 12px auto;
    border: 2px solid var(--colour-yellow);
    border-radius: 20px;
    position: relative;
}

form>div {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 10px 50px;
    transform: translate(-50%, -50%);
    background-color: var(--colour-black);
    border: 2px solid var(--colour-yellow);
    border-radius: 10px;
    text-align: center;
    color: var(--colour-yellow);
}

form>div>img {
    filter: invert(1);
    width: 60px;
}

form>input,
form>textarea {
    padding: 15px;
    margin: 15px auto;
    border: 1px solid var(--colour-black);
    color: #ddd;
    background-color: var(--colour-gray);
    border-radius: 10px;
    display: block;
    width: 1000px;
}

textarea::placeholder,
input::placeholder {
    font-size: 16px;
}

.form-label {
    color: var(--colour-white);

}

form>textarea {
    height: 175px;
    resize: none;
}

form>input[type="submit"] {
    max-width: 350px;
    height: 68px;
    padding: 2%;
    cursor: pointer;
    transition: 0.35s;
    border-color: var(--colour-yellow);
    font-size: 20px;
    background: var(--colour-gray);
    transition: background 0.5s ease-out;
    border-radius: 10px;
}

form>input[type="submit"]:hover {
    font-weight: 600;
    background: var(--colour-yellow);
    color: var(--colour-black);
    pointer-events: fill;
}

.map,
iframe {
    display: flex;
    width: 100%;
}

.contact,
.email-location {
    display: flex;
    justify-content: space-evenly;
    color: var(--colour-white);
    align-items: center;
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid var(--colour-gray);
}

.location {
    width: 30%;
}

.email {
    width: 15%;
    margin-bottom: 5px;
}

footer>p {
    text-align: center;
    margin-top: 30px;
    color: var(--colour-white);
    font-weight: 50;
}

.contenedor-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-foo {
    padding: 12px;
    font-size: 25px;
    transition: 0.3s ease-out;
}

.content-foo>a {
    padding: 20px;
}

.content-foo>a:hover {
    color: var(--colour-yellow);
}

.location-a:hover,
.email-a:hover {
    color: var(--colour-yellow);
    font-weight: 800;
}

.final-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-logo {
    width: 60px;
}

.titulo-final {
    text-align: center;
    font-size: 14px;
    color: #9e9797;
}

.author {
    color: var(--colour-yellow);
}

/* Go top arrow button */
#button {
    display: inline-block;
    background-color: var(--colour-yellow);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: black;
    transition: 0.5s;
}

#button:hover {
    cursor: pointer;
    background-color: var(--colour-gray);
    color: white;
}

#button:hover::after {
    cursor: pointer;
    color: white;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}