/* RESPONSIVE */

/* ------------------------------------------------- 1400px ------------------------------------------------- */

@media screen and (max-width: 1400px) {
    .contenedor-sobre-mi {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .textos-header {
        display: flex;
        height: 850px;
    }

    .-image-about-me {
        width: 45%;
    }

    .sobre-mi .contenido-textos {
        color: black
    }
}

/* ------------------------------------------------- 960px ------------------------------------------------- */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }
}

/* ------------------------------------------------- 900px ------------------------------------------------- */
@media all and (min-width: 900px) {
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }
}

@media all and (min-width: 900px) {

    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }

    nav {
        text-align: center;
        padding: 5px 50px 0px 50px;
    }

    #nvbar {
        justify-content: space-around;
    }

    #navbar .menu.active .item {
        display: list-item;
    }

    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }

    .contenedor-sobre-mi {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-mi .contenido-textos {
        width: 90%;
    }

    .imagen-about-me {
        width: 75%;
    }

    .slider .slide-track {
        animation: scroll 30s linear infinite;
        display: flex;
        width: calc(150px * 50);
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-150px * 25));
        }
    }

    img {
        width: 77px;
    }

    .html {
        width: 85px;
    }

    .cvs {
        justify-content: center;
        flex-direction: column;
    }

    .cv-div {
        width: 50%;
        text-align: center;
    }

    .cv-div:nth-child(1),
    .cv-div:nth-child(2) {
        margin-bottom: 60px;
    }

    .cv-div {
        width: 80%;
        text-align: center;
    }

    .cv-div img {
        width: 80%;
    }

}

/* ------------------------------------------------- 700px ------------------------------------------------- */
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }

    .email-location {
        flex-direction: column;
    }

    .location-div{
        margin-bottom: 30px;
    }
}

/* ------------------------------------------------- 500px ------------------------------------------------- */

@media screen and (max-width:500px) {
    nav {
        text-align: center;
        padding: 5px 50px 0 50px;
    }

    nav>a {
        margin-right: 5px;
    }

    #navbar .item {
        display: none;
    }


    #navbar .menu.active .item {
        display: list-item;
    }

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }


    .imagen-about-me {
        margin-bottom: 10px;
        width: 99%;
    }

    .sobre-mi .contenido-textos {
        width: 95%;
    }

    .slider .slide-track {
        animation: scroll 20s linear infinite;
        display: flex;
        width: calc(110px * 48);
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-110px * 25));
        }
    }

    img {
        width: 67px;
    }

    .html {
        width: 75px;
    }

    .cv-div {
        width: 80%;
        text-align: center;
    }

    .contenedor-footer {
        flex-direction: column;
    }

    .content-foo {
        margin-bottom: 2px;
        text-align: center;
    }

}

/* ------------------------------------------------- 490px ------------------------------------------------- */

@media (max-width: 490px) {
    .projects-section {
        padding: 50px 10px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

/* ------------------------------------------------- 460px ------------------------------------------------- */

@media (max-width: 460px) {
    .projects-section-header {
        font-size: 64px;
    }
}